@import url("grid.css");

@font-face{
    font-family: deathrattle;
    src: url("/Users/jakubsvihla/Desktop/blog/portfolio/resources/deathrattlebb_reg.ttf")
}

h1{
  font-family: deathrattle;
  font-size: 80px;
}

/* For small screen devices */
@media only screen and (min-width: 300px) {
  img.align-right, img.align-left {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    cursor: pointer;
  }
  p.align-right, p.align-left {
    position: absolute;
    top: 42%;
    left: 47%;
  }
}

/* for large screen devices */
@media only screen and (min-width: 768px) {
  img.align-right, img.align-left {
    width: 60%;
    height: auto;
    display: block;
    border-radius: 50%;
    cursor: pointer;
  }
  img.align-right {
    float: right;
  }
  img.align-left {
    float: left;
  }
  p.align-right, p.align-left {
    position: absolute;
    top: 43%;
  }
  p.align-right {
    left: 65%;
  }
  p.align-left {
    left: 29%;
  }
}

[class*="col-"] {
  position: relative;
}

p.imgtext {
  font-size: 18px;
  color: white;
  opacity: 0;
}

/* image hover animations */
img.align-left:hover, img.align-right:hover  {
  box-shadow: 0 0 10px #ccc;
  /*width: 62%;*/
  height: auto;
  opacity: 0.6;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #75D4D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 0 5px #ccc;
}

/* classes for the bio images + text */
.bioImages {
  width: 10%;
  float: left;
}

/*.bioText {
  border-left: 5px;
}*/

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
